html,
body {
  font-size: 18px;
  font-family: Helvetica;
  line-height: 1.2;
}

.container {
  width: 960px;
  margin: auto;
}


/******************************************************************************
                                 Desktop version
*******************************************************************************/


/****************************************************
                     Header styling
*****************************************************/


/**************************
Navigation bar & logo
**************************/
.main {
  background-image: url("../../resources/image/manBg.png");
  height: 30rem;
  background-size: cover;
}

.header {
  color: white;
  display: flex;
  justify-content: space-between;

}

.logo_name {
  width: 100%;
  display: flex;
  justify-content: column;

}

.logo_name img {
  height: 1.5rem;
  padding-left: 2rem;
}

.logo_name p {
  font-size: 1rem;
  padding-left: 1rem;
}

.logo_name,
nav {
  background-color: cadetblue;
  padding: 1rem 0;
  margin-top: 1rem;
}

nav ul {
  display: flex;
  padding-right: 2rem;

}

.navi {
  margin: 0;
  padding-left: 2rem;

}

#menu {
  display: none;
}
/**************************
Banner text
**************************/
.banner {
  width: 960px;
  margin: auto;
}

.banner_text {
  display: flex;
  justify-content: flex-end;
  padding-top: 10rem;
  margin-right: -2rem;
}

.banner_text p{
  background-color: white;
  font-weight: bold;
  font-size: 2rem;
  padding: 1.5rem 5rem;
}


/****************************************************
                    Content styling
*****************************************************/

/**************************
icons
**************************/
.icons {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  flex-wrap: wrap;
}

#paper,
#ruler,
#truck {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#paper {
  padding-right: 6rem;
}

#truck {
  padding-left: 6rem;
}

#paper img {
  width: 3.5rem;
}

#ruler img {
  width: 5rem;
}

#truck img {
  width: 5rem;
}

.icon_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/**************************
text
**************************/
.content {
  width: 75%;
  margin-top: 3rem;
  display: flex;
  justify-content: space-around;
}

.text {
  width: 35%;
}

.text h1 {
  width: 10rem;
  font-weight: bold;
  color: white;
  background-color: cadetblue;
  margin-bottom: 1rem;
  padding: 0.5rem 0rem;

}

/****************************************************
                    Footer styling
*****************************************************/
footer {
  margin-top: 5rem;
}

#foot {
  background-color: azure;
  padding: 4rem;
  display: flex;
  margin-top: 5rem;
}

#foot img {
  height: 1.5rem;
  padding-right: 1rem;
}


/******************************************************************************
                            tablet version 1024px
*******************************************************************************/
@media only screen and (max-width: 1024px) {
  .container {
    width: 100%;
  }

  html {
    width: 100%;
  }

  .main {
    height: 22rem;
  }

  .icons {
    margin-top: 3rem;

  }

  .logo_name,
  nav {
    margin-top: 0;
  }

  .banner {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .banner_text {
    margin: 0;
    padding-top: 5rem;
  }

  .banner_text p{
    margin-right: 2rem;
    padding: 1.5rem 4rem;
    font-size: 1.33rem;

  }
}


/******************************************************************************
                            small tablet version 700px
*******************************************************************************/
@media only screen and (max-width: 700px) {
  .logo_name p {
    display: none;
  }

  .banner_text p {
    /*padding: 1rem 1rem;*/
    margin-top: 7rem;
  }

/******************************************************************************
                            cell-phone version 480px
*******************************************************************************/
@media only screen and (max-width: 500px) {
  body {
    width: 100%;

  }

  .navi {
    display: none;
  }

  #menu {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  }

  .logo_name p {
    display: none;
  }

  .main {
    height: 17rem;
  }

  .banner_text {
    padding-top: 9rem;
  }

  .banner_text p {
    width: 100%;
    margin: 0;
    font-size: 1rem;
    text-align: center;
    padding: 1rem 0;
  }

  .icons {
    flex-direction: column;
    margin-top: 3.77rem;
    overflow: hidden;
  }

  .icon_text {
    font-size: 0.77rem;
    padding-top: 1.54rem;
    overflow: hidden;
  }

  #paper,
  #ruler,
  #truck {
    padding: 0rem;
    padding-bottom: 1.54rem;
  }

  .content {
    margin-top: 2.23rem;
    flex-direction: column;
  }

  .text {
    width: 100%;
  }

  .text h1 {
    width: 100%;
    text-align: center;
    padding: 0.5rem 0;
  }

  .text p {
    font-size: 0.77rem;
    margin-bottom: 4rem;
  }

  #foot {
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
    overflow: hidden;

  }

  #foot p {
    display: none;
  }
}
